body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:240px;
  width:100px;
  height:30px;
}
.u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#000000;
}
.u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:490px;
  top:183px;
  width:84px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FF0000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:190px;
  top:250px;
  width:290px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u6 {
  position:absolute;
  left:490px;
  top:250px;
  width:100px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:190px;
  top:283px;
  width:290px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u9 {
  position:absolute;
  left:490px;
  top:280px;
  width:120px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FF0000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:190px;
  top:331px;
  width:290px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u12 {
  position:absolute;
  left:490px;
  top:324px;
  width:69px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:240px;
  top:80px;
  width:100px;
  height:90px;
}
.u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#000000;
}
.u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:190px;
  top:189px;
  width:290px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u18 {
  position:absolute;
  left:240px;
  top:340px;
  width:100px;
  height:60px;
}
.u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:120px;
  top:23px;
  width:70px;
  height:37px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:37px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
